name = "queueup-api"
main = "worker.ts"
compatibility_date = "2025-10-08"
compatibility_flags = ["nodejs_compat"]

[vars]
ALLOWED_ORIGINS = "https://forkfriends.github.io, http://localhost:8081"

[triggers]
crons = ["*/15 * * * *"]

[[durable_objects.bindings]]
name = "QUEUE_DO"
class_name = "QueueDO"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["QueueDO"]

[[d1_databases]]
binding = "DB"
database_name = "queueup-db"
database_id = "0f9b67a6-8e4c-4e17-8dc5-6bfddc1d7a63"

[[kv_namespaces]]
binding = "QUEUE_KV"
id = "ba0c2edfecd14c02904cbc83cd27f634"
preview_id = "6de7680b67444c6da3323fde8d2e74d5"

